{% extends "base.html" %}

{% block title %}Contact Page{% endblock %}

{% block content %}
<!-- Page content-->
<section class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Create New Project</h1>
            </div>

            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <form action="/submit_form" method="post" enctype="multipart/form-data">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="project_name" type="text" name="project_name" placeholder="" data-sb-validations="required"/>
                            <label for="project_name">Project Name</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" id="cloud_service_provider" type="text" name="cloud_service_provider" placeholder="" data-sb-validations="required"/>
                            <label for="cloud_service_provider">Cloud Service Provider</label>
                        </div>

                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="description" type="text" name="description" placeholder="" style="height: 10rem"></textarea>
                            <label for="description">Description</label>
                        </div>

                        <div class="form-floating mb-3">
                            <label for="file_upload" class="cols-sm-2 control-label">Upload File</label>
                            <div class="cols-sm-10">
                                <div class="input-group"><input type="file" name="file_upload" class="form-control" id="file_upload"></div>
                            </div>
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}